Repository qualcomm-linux/meta-qcom-hwe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic, @quaresmajose, @NainaMehtaQUIC

.github/CODEOWNERS:

# Default reviewers for all changes in entire repository,
# unless a later match takes precedence
*  @quic-vkraleti @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in ci/ subdirectory
ci/*  @quaresmajose @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in conf/ subdirectory
conf/*  @quic-vkraleti @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in recipes-kernel/linux/ subdirectory
recipes-kernel/linux/*  @NainaMehtaQUIC @quic-vkraleti @sbanerjee-quic

ci/yocto-check-layer: check for oe-core/meta, not poky/meta
  ci/yocto-check-layer.sh
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

ci/yocto-patchreview.sh: s/poky/oe-core/g
  ci/yocto-patchreview.sh
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

ci/base.yml: convert to nodistro
  ci/base.yml
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

workflows: move base artifact URL to env variable
  .github/workflows/build-yocto.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: update test-pr display title
  .github/workflows/test-pr.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: Retrieve build URL from artifact
  .github/workflows/test-pr.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: save build URL as artifact
  .github/workflows/build-yocto.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

firmware-boot: move bootfiles to separate subdir
  recipes-bsp/firmware-boot/firmware-qcom-boot-common.inc
  recipes-bsp/firmware-boot/firmware-qcom-boot-qcs6490_00005.0.bb
  recipes-bsp/firmware-boot/firmware-qcom-boot-qcs9100_00006.0.bb
  recipes-bsp/firmware-boot/firmware-qcom-dragonboard410c-bootloader-sdcard_17.09.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

firmware-qcom-boot-qcs6490: move CDT_FILE to the recipe
  recipes-bsp/firmware-boot/firmware-qcom-boot-common.inc
  recipes-bsp/firmware-boot/firmware-qcom-boot-qcs6490_00005.0.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

firmware-qcom-dragonboard410c-bootloader-sdcard: use firmware-qcom-boot-common
  recipes-bsp/firmware-boot/firmware-qcom-dragonboard410c-bootloader-sdcard_17.09.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

firmware-qcom-dragonboard410c-bootloader-sdcard: rename recipe
  recipes-bsp/firmware-boot/firmware-qcom-boot-dragonboard410c-sdcard_17.09.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: add test reporting
  .github/workflows/pr.yml
  .github/workflows/test-pr.yml
  .github/workflows/test.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: update job permissions for test reporting
  .github/workflows/nightly-build.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .github/workflows/test-pr.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

fastrpc: add license and copyright declaration at mount-dsp.sh
  recipes-support/fastrpc/fastrpc/mount-dsp.sh
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-dtbbin: add missing copyright declaration
  classes/linux-qcom-dtbbin.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

initrdscripts: use SPDX-License-Identifier
  recipes-support/initrdscripts/files/copy-modules.sh
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-bootimg.bbclass: add license and copyright
  classes/linux-qcom-bootimg.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

qca-swiss-army-knife: add license and copyright
  recipes-devtools/qca-swiss-army-knife/qca-swiss-army-knife/ath10k-generate-board-2_json.sh
  recipes-devtools/qca-swiss-army-knife/qca-swiss-army-knife/ath10k-generate-pci-board-2_json.sh
  recipes-devtools/qca-swiss-army-knife/qca-swiss-army-knife/ath11k-generate-ahb-board-2_json.sh
  recipes-devtools/qca-swiss-army-knife/qca-swiss-army-knife/ath11k-generate-pci-board-2_json.sh
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

uki-esp-image bbclass: initial add
  classes/uki-esp-image.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

SQUASH ME: uki-esp-image: s/ESP/EFI/
  classes/uki-esp-image.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

SQUASH ME: esp-qcom-image: unset KERNEL_DEVICETREE
  recipes-kernel/images/esp-qcom-image.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

esp-qcom-image: convert to use OE-core UKI infrastructure
  recipes-kernel/images/esp-qcom-image.bb
  recipes-kernel/images/linux-qcom-uki.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

SQUASH ME: remove systemd-boot configs
  classes/uki-esp-image.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

SQUASH ME: uki-esp-image: convert to type#2
  classes/uki-esp-image.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

SQUASH ME: fix UKI location
  classes/uki-esp-image.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

ci: add schema checks for LAVA test plans
  .github/workflows/lava-schema-check.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  ci/schemacheck.py
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic, @quaresmajose

qcom-partition-confs: fixup CDT for sa8775p-ride-sx
  recipes-bsp/partition/qcom-partition-confs_1.0.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

firmware-qcom-boot-qcs9100: add CDT support
  recipes-bsp/firmware-boot/firmware-qcom-boot-qcs9100_00006.0.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

ci: add README for lava test plans
  ci/lava/README.md
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

esp-qcom-image: provide custom kernel cmdline
  recipes-kernel/images/esp-qcom-image.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic
