Repository qualcomm-linux/meta-qcom-hwe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic, @quaresmajose, @NainaMehtaQUIC

Update the KAS configuration to align with "qcom-6.6.52-QLI.1.3-Ver.1.0" release.
  kas/README.md
  kas/include/deps.yml
  kas/qcs615-adp-air.yml
  kas/qcs9075-rb8-core-kit-interface-plus-mezz.yml
  kas/qcs9075-rb8-core-kit.yml
  kas/qcs9075-ride-sx.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

btvendorhal_git.bb: Fix a typo in setting src branch and rev
  recipes-connectivity/btvendorhal/btvendorhal_git.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

UBOOT: qcs9100: Update uboot elf copy and qcs9100 defconfig
  conf/machine/qcs9100-ride-sx.conf
  recipes-bsp/u-boot/u-boot_2024.%.bbappend
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

UBOOT: qcs9100: updated the memory map as per latest
  recipes-bsp/u-boot/files/0013-PENDING-arm64-dts-qcom-qcs9100-Update-memory-map-as-.patch
  recipes-bsp/u-boot/u-boot-common.inc
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

recipes-kernel: Set kernel local version using LINUX_VERSION_EXTENSION
  recipes-kernel/linux/linux-qcom-base_6.6.bb
  recipes-kernel/linux/linux-qcom-custom_6.6.bb
Owners: @NainaMehtaQUIC, @quic-vkraleti, @sbanerjee-quic

packagegroup-qcom-bluetooth.bb: remove unavailable packages
  recipes-connectivity/packagegroups/packagegroup-qcom-bluetooth.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

README: fix markdown style issues
  README.md
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

README: add flash instructions
  README.md
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

ci/base.yml: convert to nodistro
  ci/base.yml
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

ci/yocto-check-layer: check for oe-core/meta, not poky/meta
  ci/yocto-check-layer.sh
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

ci/yocto-patchreview.sh: s/poky/oe-core/g
  ci/yocto-patchreview.sh
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

ci: base: enable efi in DISTRO_FEATURES
  ci/base.yml
Owners: @quaresmajose, @ricardosalveti, @sbanerjee-quic

fastrpc_15.0.qcom.bb: Set COMPATIBLE_MACHINE
  recipes-multimedia/fastrpc/fastrpc_15.0.qcom.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base-6.6: Add multi PD support
  recipes-kernel/linux/linux-qcom-base-6.6/drivers.inc
  recipes-kernel/linux/linux-qcom-base-6.6/drivers/qcs9100/0001-FROMLIST-misc-fastrpc-Add-support-for-multiple-PD-from-one-pr.patch
  recipes-kernel/linux/linux-qcom-base-6.6/drivers/qcs9100/0002-FROMLIST-misc-fastrpc-Rename-tgid-and-pid-to-client_id.patch
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base_6.6.bb: Add qcs8300 PRNG and qcrypto patches
  recipes-kernel/linux/linux-qcom-base-6.6/devicetree.inc
  recipes-kernel/linux/linux-qcom-base-6.6/devicetree/qcs8300/0001-FROMLIST-arm64-dts-qcom-qcs8300-add-QCrypto-nodes.patch
  recipes-kernel/linux/linux-qcom-base-6.6/devicetree/qcs8300/0001-FROMLIST-arm64-dts-qcom-qcs8300-add-TRNG-node.patch
  recipes-kernel/linux/linux-qcom-base-6.6/dt-bindings.inc
  recipes-kernel/linux/linux-qcom-base-6.6/dt-bindings/qcs8300/0001-FROMLIST-dt-bindings-crypto-qcom-prng-document-QCS83.patch
  recipes-kernel/linux/linux-qcom-base-6.6/dt-bindings/qcs8300/0001-FROMLIST-dt-bindings-crypto-qcom-qce-document-the-QC.patch
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

sepolicy: Add permissions to launch Guest VM image
  dynamic-layers/selinux/recipes-security/sepolicy/files/booleans.conf
  dynamic-layers/selinux/recipes-security/sepolicy/kernel/devices.fc
  dynamic-layers/selinux/recipes-security/sepolicy/kernel/devices.te
  dynamic-layers/selinux/recipes-security/sepolicy/kernel/filesystem.if
  dynamic-layers/selinux/recipes-security/sepolicy/services/virt.te
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

sepolicy: Add rules in fstools.te to address avc denials seen for resize2fs
  dynamic-layers/selinux/recipes-security/sepolicy/system/fstools.te
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

sepolicy: Allow sfs_config to search tmpfs root
  dynamic-layers/selinux/recipes-security/sepolicy/services/qcom_sfs_config.te
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

selinux-autorelabel: start autorelabelservice after local-fs.target is reached
  dynamic-layers/selinux/recipes-security/selinux-scripts/selinux-autorelabel_0.1.bbappend
  dynamic-layers/selinux/recipes-security/selinux-scripts/selinux-qcom-autorelabel.sh
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

sepolicy Add selinux-autorelabel package only for sota enabled builds
  dynamic-layers/selinux/recipes-security/sepolicy/refpolicy-mls_git.bbappend
  dynamic-layers/selinux/recipes-security/sepolicy/refpolicy-targeted_git.bbappend
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base-6.6/qcom.cfg: Enable configs to support kubernetes
  recipes-kernel/linux/linux-qcom-base-6.6/qcom.cfg
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base-6.6: Enable EFI RUNTIME and EFI_PARTITION
  recipes-kernel/linux/linux-qcom-base-6.6/qcom.cfg
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

qcom-qcs8300.inc: Enable strict devlink dependency between modules
  conf/machine/include/qcom-qcs8300.inc
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

gbm_21.1.1.bb: fix plane offset calculation for ubwc formats
  recipes-graphics/libgbm/gbm/files/0001-fix-plane-offset-calculation-for-ubwc-formats.patch
  recipes-graphics/libgbm/gbm_21.1.1.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

sepolicy: define context for /dev/media2
  dynamic-layers/selinux/recipes-security/sepolicy/kernel/devices.fc
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base_6.6.bb: gic-v3: Handle failure case of CPU enters low power state
  recipes-kernel/linux/linux-qcom-base-6.6/drivers.inc
  recipes-kernel/linux/linux-qcom-base-6.6/drivers/common/0001-FROMLIST-irqchip-gic-v3-Handle-failure-case-of-CPU-e.patch
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base-6.6: qcom.cfg: Fix bootup issue on secure device
  recipes-kernel/linux/linux-qcom-base-6.6/qcom.cfg
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

packagegroup-qcom-camera.bb: enable camera-server for qcs8300 target
  recipes-multimedia/camera-server/qcom-camera-server.bb
  recipes-products/packagegroups/packagegroup-qcom-camera.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

recipes: Update source revisions to latest
  recipes-connectivity/bt-app/bt-app_git.bb
  recipes-connectivity/bt-cert/bt-cert_git.bb
  recipes-connectivity/bthost-ipc/bthost-ipc_git.bb
  recipes-connectivity/btvendorhal/btvendorhal_git.bb
  recipes-connectivity/fluoride/fluoride_git.bb
  recipes-kernel/linux/linux-kernel-headers-install_6.6.bb
  recipes-kernel/linux/linux-kernel-qcom-headers_6.6.bb
  recipes-kernel/linux/linux-qcom-custom_6.6.bb
  recipes-multimedia/camera-server/qcom-camera-server.bb
  recipes-multimedia/cameradlkm/cameradlkm_1.0.bb
  recipes-multimedia/cameradtb/cameradtb_1.0.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic, @NainaMehtaQUIC

camx: skip dev package contains non-symlink QA check
  recipes-multimedia/camx/camxlib-kt_1.0.bb
  recipes-multimedia/camx/camxlib_1.0.bb
  recipes-multimedia/camx/chicdk-kt_1.0.bb
  recipes-multimedia/camx/chicdk_1.0.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-qcom-base-6.6: fix the bootup issue on secure device
  recipes-kernel/linux/linux-qcom-base-6.6/devicetree.inc
  recipes-kernel/linux/linux-qcom-base-6.6/devicetree/qcs9100/0001-FROMLIST-arm64-dts-qcom-sa8775p-fix-the-secure-devic.patch
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: update lava-action to v3
  .github/workflows/build-yocto.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

linux-yocto-dev: update to v6.13
  recipes-kernel/linux/linux-yocto-dev.bbappend
  recipes-kernel/linux/linux-yocto-dev/qcm6490-board-dts/0001-FROMLIST-arm64-dts-qcom-qcm6490-idp-Update-protected.patch
  recipes-kernel/linux/linux-yocto-dev/qcm6490-board-dts/0001-arm64-dts-qcom-qcm6490-idp-Add-UFS-nodes.patch
  recipes-kernel/linux/linux-yocto-dev/qcm6490-board-dts/0001-arm64-dts-qcom-sc7280-don-t-enable-GPU-on-unsupporte.patch
  recipes-kernel/linux/linux-yocto-dev/qcm6490-drivers/0001-firmware-qcom-scm-Introduce-CP_SMMU_APERTURE_ID.patch
  recipes-kernel/linux/linux-yocto-dev/qcm6490-drivers/0002-drm-msm-adreno-Setup-SMMU-aparture-for-per-process-p.patch
  recipes-kernel/linux/linux-yocto-dev/workarounds/0001-PENDING-arm64-dts-qcom-Remove-voltage-vote-support-f.patch
  recipes-kernel/linux/linux-yocto-dev/workarounds/0001-QCLINUX-arm64-dts-qcom-qcm6490-disable-sdhc1-for-ufs.patch
Owners: @NainaMehtaQUIC, @quic-vkraleti, @sbanerjee-quic, @ricardosalveti

workflows: refactor job and triggers
  .github/workflows/build-yocto.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  .github/workflows/test-pr.yml
  .github/workflows/test.yml
  ci/lava/qcs6490-rb3gen2-core-kit/boot.yaml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

image_types_qcom: create image-specific subfolders
  classes-recipe/image_types_qcom.bbclass
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: fix typing mistakes
  .github/workflows/push.yml
  .github/workflows/test-pr.yml
  .github/workflows/test.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: Add missing variables in test job template
  .github/workflows/test.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

recipe-firmware: update release tag and checksum for Talos Beta
  recipes-firmware/firmware/firmware-qcom-bootbins_1.0.bb
  recipes-firmware/firmware/firmware-qcom-hlosfw_1.0.bb
  recipes-firmware/firmware/firmware-qcom-partconf_1.0.bb
  recipes-firmware/firmware/firmware-qcs615.inc
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

libcamera: enable usb camera pkgs for Talos standard.
  recipes-extended/libcamera/libcamera.bbappend
  recipes-extended/libcamera/libcamera/0001-Add-for-fix-maybe-uninitialized-error.patch
  recipes-graphics/wayland/weston-launch/init_qti
  recipes-products/packagegroups/packagegroup-qcom-camera.bb
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

workflows: fix variable name in nightly build
  .github/workflows/nightly-build.yml
Owners: @quic-vkraleti, @ricardosalveti, @sbanerjee-quic

.github/CODEOWNERS:

# Default reviewers for all changes in entire repository,
# unless a later match takes precedence
*  @quic-vkraleti @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in ci/ subdirectory
ci/*  @quaresmajose @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in conf/ subdirectory
conf/*  @quic-vkraleti @ricardosalveti @sbanerjee-quic

# Reviewers to be assigned for any changes in recipes-kernel/linux/ subdirectory
recipes-kernel/linux/*  @NainaMehtaQUIC @quic-vkraleti @sbanerjee-quic
